# Python
backend/venv/
__pycache__/
*.pyc

# Environment files
backend/.env

# Node.js (frontend)
frontend/node_modules/
frontend/.env

# OS-specific
.DS_Store
data/raw/
*.csv
seed_data_alerts.json
seed_data_stations.json
seed_data_trips.json